<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Settings!</h1>
      <p>Welcome to the animals page!</p>
      <p>
        All of the different types of animals will be displayed on this page.
      </p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
