<!--settings page-->

<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Settings</h1>
      <p>Welcome to the settings page!</p>
    </div>

    <div class="container">
      <a href="/animals/view-animals">Animals</a>
      <br>
      <a href="foods/view-foods">Foods</a>
      <br />
      <a href="/medicines/view-medicines">Medications</a>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
