<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Settings - Nature Reach'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Settings</h1>
      <button
        onclick="window.location.href='/users/view-users';"
        style="margin-top: 15px; margin-bottom: 30px"
        class="btn btn-primary"
      >
        Edit Users
      </button>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
