<!--This page contains the information about each bird that is specific to the current day of the week (at time of access)--> 
<!DOCTYPE html>
<html>
  <head>
    <title>Daily Summary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Daily Summary</h1>
    <p>Welcome to Daily Summary</p>
  </body>
</html>