<!--This will be the form that the user will use to edit the entries of an existing bird or to delete an existing bird entirely--> 
<!DOCTYPE html>
<html>
  <head>
    <title>Edit Birds</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit Birds</h1>
    <p>Welcome to Edit Birds</p>
  </body>
</html>