<!--This will be the main birds view that show an overview of the existing birds database--> 

<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Bird Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>View Birds!</h1>
      <p>Welcome to the view birds page!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
