<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="/styles/my-colors.css" />

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/r-2.2.6/datatables.min.css" />

  <!--https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/-->
  <!--https://stackoverflow.com/questions/23949804/how-to-change-link-color-bootstrap-->
  <style>
    .navbar-custom {
      background-color: rgb(115, 15, 18);
    }

    .btn-primary .btn-outline-primary {
      background-color: rgb(115, 15, 18);
      outline-color: rgb(115, 15, 18);
    }

    ul.navbar-nav li a,
    ul.navbar-nav li a:visited {
      color: rgb(0,0,0) !important;
    }

    ul.navbar-nav li a:hover,
    ul.navbar-nav li a:active {
      color: rgb(0,0,0) !important;
    }

    ul.navbar-nav li.active a {
      color: rgb(0,0,0) !important;
    }


    a,
    a:visited {
      color: rgb(115, 15, 18) !important;
    }

    a:hover,
    a:active {
      color: rgb(115, 15, 18) !important;
    }

    .active a {
      color: rgb(115, 15, 18) !important;
    }

    a,
    a:visited {
      color: rgb(115, 15, 18) !important;
    }

    a:hover,
    a:active {
      color: rgb(115, 15, 18) !important;
    }

    .active a {
      color: rgb(115, 15, 18) !important;
    }
  </style>

  <title><%- title %></title>
</head>