<!--This page contains the information about each animal that is specific to the current day of the week (at time of access)--> 
<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Daily Summary!</h1>
      <p>Welcome to the daily summary page!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>