<!--This will be the form that the user will use to edit the entries of an existing animal or to delete an existing animal entirely--> 
<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Edit animals!</h1>
      <p>Welcome to the edit animals page!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
