<!--This will be the detailed animal view that show all of the information about a selected animal--> 
<!--See 'development notes'/'Raptor Food Feeding and Thawing Schedule' in this repo for details of the feilds that should be included here--> 

<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>animal Details!</h1>
      <p>Welcome to the animal details page!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
