<!--This will be the main animals view that show an overview of the existing animals database--> 

<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>View animals!</h1>
      <p>Welcome to the view animals page!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>
