<!--This will be the form that the user will use to add a new bird to the database-->
<!DOCTYPE html>
<html>
  <head>
    <title>New Bird</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Bird</h1>
    <p>Welcome to New Bird</p>
  </body>
</html>