<!--This will be the detailed bird view that show all of the information about a selected bird--> 
<!--See 'development notes'/'Raptor Food Feeding and Thawing Schedule' in this repo for details of the feilds that should be included here--> 

<!DOCTYPE html>
<html>
  <head>
    <title>Bird Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bird Details</h1>
    <p>Welcome to Bird Details</p>
  </body>
</html>