<!--This will be the main birds view that show an overview of the existing birds database--> 

<!DOCTYPE html>
<html>
  <head>
    <title>View Birds</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>View Birds</h1>
    <p>Welcome to View Birds</p>
  </body>
</html>