<!--This will be the form that the user will use to add a new food to the database-->
<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Create Food - Nature Reach'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>New food!</h1>
      <!--This is a form template from boostrap that I put in here by following along in class on 10/14/2020-->
      <form method="POST" action="./create-food" enctype="text/html">
        <div class="form-group col-md-4 col-sm-12">
          <label for="foodName">Name</label>
          <input
            type="text"
            class="form-control"
            id="foodName"
            name="name"
            placeholder="Enter name"
          />
        </div>
        <button
          type="submit"
          value="Create"
          class="btn btn-primary"
          style="margin-top: 10px"
        >
          Submit
        </button>
      </form>
      <!--End Boostrap Form-->
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
