<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'View Foods - Nature Reach'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Food Types</h1>
      <button onclick="window.location.href='./new-food-form';" style="margin-bottom: 30px;" class="btn btn-primary">
        New Food
      </button>
      <table class="table table-striped" id="foodTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].name %></td>
                <% if (locals.user.role === "admin") { %>
                <td><a href="/foods/update-food?id=<%=data[i]._id%>">Update</a> 
                    | <a href="/foods/delete-food?id=<%=data[i]._id%>">Delete</a></td>
                    <%} else { %>
                      <td>Must be an Admin to edit foods</td> 
                        <% } %>
            </tr>
        <% } %>
        </tbody>
      </table>
    </div>
    <% include ../partials/scripts %>

    <script type="text/javascript">
      $(document).ready( function () {
          $('#foodTable').DataTable({  
              responsive: true 
          });
      });
     </script>




  </body>
</html>
