<!--This is the form used when adding a feeding--> 
<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Animal Project'}); %>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
      <h1>Feeding Form</h1>
      <p>Welcome to the feeding form!</p>
    </div>

    <% include ../partials/scripts %>
  </body>
</html>